<%
  var title = 'メッセージ';
  var slug  = 'messages';
%>

<% include common/_settings %>
<% include common/_header %>
<% include common/_global_header %>

<div class="global-content">
  <% include common/_global_side %>

  <div class="global-main">
    <div class="messages">
      <div class="messages-list">
        <% for (var i = 0; i < 16; i++) { %>
          <% if (i === 0) { %>
            <div class="messages-item -active">
          <% } else { %>
            <div class="messages-item">
          <% } %>
            <% if (VIEW_MODE === 'man') { %>
              <div
                style="background-image: url('<%= profile.man.avatar_path %>')"
                class="avatar">
              </div>
              <div class="block">
                <div class="meta">
                  <div class="profile">
                    <strong><%= profile.girl.name %></strong>&nbsp;<span><%= profile.girl.residence_state %>&nbsp;<%= profile.girl.age %>歳</span>
                  </div>
                  <div class="time">19:20</div>
                </div>
                <div class="content _ellipsis">まみです！</div>
              </div>
            <% } else if (VIEW_MODE === 'girl') { %>
              <div
                style="background-image: url('<%= profile.man.avatar_path %>')"
                class="avatar">
              </div>
              <div class="block">
                <div class="meta">
                  <div class="profile">
                    <strong><%= profile.man.name %></strong>&nbsp;<span><%= profile.man.age %>歳</span>
                  </div>
                  <div class="time">19:20</div>
                </div>
                <div class="content _ellipsis">はじめまして！じろーです！いまからお話しましょう！</div>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>

      <div class="messages-panel">
        <div class="messages-panel-header">
          <div class="action">
            <button
              type="button"
              class="js-show-detailed-profile"
              data-target-modal-id="#modal-detailed-profile">生徒詳細</button>
          </div>

          <div class="profile">
            <div class="name"><%= profile.man.name %></div>
            <div class="age"><%= profile.man.age %>歳</div>
          </div>

          <div class="action">
            <button
              type="button"
              class="js-create-class"
              data-target-modal-id="#modal-create-class">クラスを作成する</button>
          </div>
        </div>
        <div class="messages-panel-body">
          <div class="message-threads">

            <div class="message-threads-item">
              <div
                style="background-image: url(<%= profile.man.avatar_path %>)"
                class="avatar -size-small">
              </div>
              <div class="block">
                <div class="name"><%= profile.man.name %></div>
                <div class="balloon -arrow-left">
                  はじめまして！じろーです！いまからお話しましょう！
                </div>
              </div>
            </div>

            <% for (var i = 0; i < 5; i++) { %>
            <div class="message-threads-item">
              <div
                style="background-image: url(<%= profile.man.avatar_path %>)"
                class="avatar -size-small">
              </div>
              <div class="block">
                <div class="name"><%= profile.man.name %></div>
                <div class="balloon -arrow-left">
                  １クラス４０００円でどー？+(o'∀'o)+. 長文が入ったことも想定した文章です。最大の横幅を480pxに指定しています。長文が入ったことも想定した文章です。最大の横幅を480pxに指定しています。長文が入ったことも想定した文章です。最大の横幅を480pxに指定しています。長文が入ったことも想定した文章です。最大の横幅を480pxに指定しています。
                </div>
              </div>
            </div>
            <% } %>

            <div class="message-threads-item -myself">
              <div class="block" id="myMessage">
                <div class="balloon">
                  いいよーいくら？
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="messages-panel-footer">
          <form action="" class="message-form">
            <textarea class="textarea" placeholder="メッセージを入力"></textarea>
            <button class="button -primary js-message-button">メッセージを送る</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include modules/_modal_detailed_profile %>
<% include modules/_modal_create_class %>
<% include common/_footer %>
